<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardDao">
	<insert id="insertBoard" parameterType="map">
		insert into board
		values (
		board_seq.nextval
		,<include refid="title"/>
		,<include refid="name"/>
		,#{PASS}
		,#{EMAIL}
		,#{CONTENT}
		,0
		,sysdate)
	</insert>
	<update id="updateBoard" parameterType="map">
		update board
		set title =<include refid="title"/>,
		name =<include refid="name"/>,
		pass = #{PASS},
		email = #{EMAIL},
		content = #{CONTENT}
		where num = #{NUM}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from board where
		num = #{NUM}
	</delete>

	<select id="selectOne" parameterType="int" resultType="map">
		select *
		from board where num = #{NUM}
	</select>

	<select id="selectAll" resultType="map">
		select * from board
	</select>
	
	<select id="searchBoard" parameterType="map" resultType="map">
		select * 
		  from board
		 where 1=0
		 <if test="TITLE !=null"> or title like '%${TITLE}%' </if>
		 <if test="NAME !=null"> or name like '%${NAME}%' </if>
		 <if test="CONTENT !=null"> or name like '%${CONTENT}%' </if>
		 <if test="type == 0 "> or 1=1 </if>
	</select>

	<sql id="title">
		<choose>
			<when test="TITLE != null">
				#{TITLE}
			</when>
			<otherwise>
				'제목없음'
			</otherwise>
		</choose>
	</sql>
	<sql id = "name"> 
		<choose>
			<when test="NAME != null">
				#{NAME}
			</when>
			<otherwise>
				'이름없음'
			</otherwise>
		</choose>
	</sql>
	

</mapper>