<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MemberDao">	<!-- mapper와 짝꿍될 interface경로 -->
	<insert id="insertMember" parameterType="member">	<!-- 인터페이스에는 실행할 sql id와 동일한 이름의 메서드 선언 -->
		insert
			into member3
		values(#{id}, #{pw}, #{name}, #{email}, sysdate)
	</insert>
	
	<update id="updateMember" parameterType="member">
		update member3
			set pw   = #{pw},
			    name = #{name},
			    email = #{email}
			where id = #{id}
	</update>
	<delete id="deleteMember" parameterType="string">
		delete
			from member3
		where id = #{id}
	</delete>
	<select id="selectOne" parameterType="string" resultType="member">
		select * from 
			member3
		where id = #{id}
	</select>
	<select id="selectAll" resultType="member">
		select * from member3
	</select>
</mapper>
